@font-face {
  font-family: android;
  src: url(fontes/idroid.otf);
}
/* RESET DAS CONFIGURAÇÕES DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* DECLARAÇÃO DAS VARIÁVEIS */
:root{
  --hue: 146;
  --primary-color: hsl(var(--hue), 67%, 55%);
  --primary-light: hsl(var(--hue), 58%, 70%);
  --secondary-color: hsl(var(--hue), 50%, 20%);
}
/* CONFIGURAÇÕES GERAIS */
html,body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background: var(--primary-light);
}
a{
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}

/* HEADER & NAVIGATION */

header {
  background: linear-gradient(to top, var(--secondary-color),var(--primary-color));
  color: white;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.400);
}

header h2 {
  font-size: 2rem;
  padding-top: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.400);
}

header p{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.400);

  width: 80%;
  margin: 1rem auto 1rem;
  opacity: 0.9;
  font-size: 0.9rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

nav ul li a:hover {
  filter: brightness(1.1);
  color: var(--primary-color);
}
nav ul li a:hover::after{
  opacity: 1;
  width: 100%;
}

nav ul li a::after{
  content:' ';
  opacity: 0;
  display: flex;
  background: var(--primary-color);  
  width: 0%;
  height: 2px;
  margin-top: 0.5rem;
  transition: width 200ms;
}

/* MAIN CONTENT */

main {
  width: 80%;
  margin: auto;
  background: white;
  padding: 1rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.400);
  margin-bottom: 1rem;
}

main h1 {
  font-family: 'android', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  color: var(--secondary-color);
}

main h3 {
  font-family: 'android', sans-serif;
  background: linear-gradient(to right, var(--primary-light), transparent);
  text-indent: 1rem;
  color: var(--secondary-color);
}

main p {
  text-indent: 2rem;
  line-height: 1.5rem;
  margin-block: 0.6rem;
  font-size: 1rem;
  text-align: justify;
}

main a {
  font-weight: bold;
  color: var(--secondary-color);
  transition: 0.2s;
}

main a:hover{
  filter: brightness(1.2);
}
main a::after{
  content:'\0020\1F517'
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.5%;
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ASIDE - EXTRA PART */

aside {
  margin-top: 1rem;
  padding: 0 1rem 1rem;
  font-size: 0.9rem;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.400);
}

aside header {
  background: var(--secondary-color);
  margin-inline: -1rem;
  padding: 0.5rem 1rem;
  text-align: left;
  border-radius: 10px 10px 0 0;
}

aside ul{
  columns: 2;
}

aside ul li::before{
  content: '\2714\0020';
}

/* FOOTER */

footer {
  background: var(--secondary-color);
  font-size: 0.8rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

footer a {
  color: var(--primary-light);
}

footer a:hover{
  color: var(--primary-color);
  filter: brightness(1.5);
}

/* RESPONSIVO */
/* MAX-WIDTH -> ENQUANTO ESTIVER DENTRO DO VALOR DEFINIDO FAÇA ESSAS CONFIGURAÇÕES
  MIN-WIDTH -> ENQUANTO FOR MAIOR QUE O VALOR DEFINIDO FAÇA ESSAS CONFIGURAÇÕES

*/



@media (max-width: 320px) {
  aside p{
    text-indent: 0;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  aside ul{
    columns: 1;
  }
}

@media (min-width: 1024px) {
  /* HEADER & NAVIGATION */

  header h2{
    font-size: 3rem;
  }

  header p {
    font-size: 1rem;
    width: 30rem;
  }

  header nav ul {
    justify-content: flex-start;
    margin-left: 1rem;
  }
  header nav ul li a{
    font-size: 1rem;
  }

  /* MAIN CONTENT */

  main {
    width: 60%;
  }
  main h1 {
    text-align: left;
  }

  main h3{
    font-size: 1.5rem;
  }

  .bug-droid{
    margin: auto;
    width: 40%;
  }
}