/* RESET DAS CONFIGURAÇÕES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root{
  --hue: 271;
  --background: hsl(0, 0%, 13%);
  --primary-color: hsl(var(--hue), 76%, 53%);
}
/* CONFIGURAÇÕES GERAIS */
body {
  background: var(--background);
  color: white;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 1rem;

  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
img{
  width: 90%;
}


/* HEADER AND NAVIGATION */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

header h1 {
  font-size: 4rem;
  line-height: 3.8rem;
  font-style: normal;
  font-weight: 500;
}

span {
  color: var(--primary-color);
}

nav ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

li a {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

li a:hover {
  color: var(--primary-color);
  transition: all 0.2s;
}

li a::after {
  content: ' ';
  background: var(--primary-color);
  display: flex;
  margin-top: 1rem;
  width: 0%;
  height: 2px;
}

nav a:hover::after {
  transition: width 0.2s;
  width: 100%;
}

/* MAIN CONTENT */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

aside h2 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
}

aside p {
  font-size: 1rem;
  font-weight: 500;
  margin-block: 1rem;
}

aside li a {
  font-size: 1.5rem;
  font-weight: 300;
}


@media (max-width: 768px) {
  img {
    display: none;
  }

  body {
    width: 100%;
  }

  header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  main {
    display: flex;
  }

  main aside {
    justify-content: center;
    align-items: center;
  }
}